<div id="mySidenav" class="sidenav">
    <a href="#">List</a>
    <a href="/goals/add">Goal</a>
    <a href="/calendar">Calendar</a>
    <a href="#">Report</a>
    <a href="#">Settings</a>
    <a href="#">About</a>
    
  </div>